

<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../views/partials/cabecalho") %>
    <%- include("../views/partials/menuBar") %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>😫 404 😫</title>

    <div class="container rounded mt-5 mb-5" style="height: 20pc">
        <div class="row">

            <div class="col-sm-4 py-5">
                <div>
                    <h1>Erro 404 😫😫</h1>
                </div>
            </div>
      </div>
    </div> 

</head>
<body>
    
</body>

    <%- include("../views/partials/rodape") %>
</html>