<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../partials/cabecalho") %>
    <%- include("../partials/menuBar") %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuario</title>

    <div class="container rounded mt-5 mb-5" style="background-color: rgb(184, 184, 184); height: 20pc">
        <div class="row">
            
            <% if (status=="1") { %>
                <div style="color:white; background:rgb(255, 0, 0)">Senha ou usuario incorretos.</div>
            <% } %>

            <form action="/usuarios/login" method="post">


                <div>
                    <label class="form-label">Email:</label>
                    <input class="form-control" type="email" name="email" required>
                </div>
        
                <div>
                    <label class="form-label">Senha: </label>
                    <input class="form-control" type="password" name="senha" required>
                </div>
    
                <div>
                    <button class="btn btn-success" type="submit">Logar</button>
                </div>

            </form>
            
      </div>
    </div> 

</head>
<body>
    
</body>

    <%- include("../partials/rodape") %>
</html>